In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

In [3]:
path = r'/Users/spathak/Instacart_Basket_Analysis'

In [11]:
#Importing orders_products_combined.csv dataframe
df_merged_large = pd.read_pickle(os.path.join(path, '02-Data','Prepared-Data','orders_products_combined.pkl'))

In [28]:
df_merged_large = df_merged_large.drop('_merge',axis=1)

In [29]:
# shape of df_merged_large dataframe
df_merged_large.shape

(32640698, 10)

In [14]:
#Importing products_consistency.csv dataframe
df_Prods = pd.read_csv(os.path.join(path, '02-Data', 'Prepared-Data', 'Products_data_Consistency.csv'), index_col = False)

In [15]:
# head of df_Prods
df_Prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [17]:
# shape of df_Product dataframe
df_Prods.shape

(49677, 6)

In [35]:
# Product_id matches in both dataframes - use this as the key to merge
orders_products_merged = df_merged_large.merge(df_Prods, on = 'product_id',how = 'outer', indicator = True)

In [36]:
# head of orders_products_merged
orders_products_merged.head()

,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0_y,product_name,aisle_id,department_id,prices,_merge
0,1.0,2398795.0,1.0,2.0,3.0,7.0,15.0,196.0,1.0,1.0,195.0,Soda,77.0,7.0,9.0,both
1,2.0,473747.0,1.0,3.0,3.0,12.0,21.0,196.0,1.0,1.0,195.0,Soda,77.0,7.0,9.0,both
2,3.0,2254736.0,1.0,4.0,4.0,7.0,29.0,196.0,1.0,1.0,195.0,Soda,77.0,7.0,9.0,both
3,4.0,431534.0,1.0,5.0,4.0,15.0,28.0,196.0,1.0,1.0,195.0,Soda,77.0,7.0,9.0,both
4,5.0,3367565.0,1.0,6.0,2.0,7.0,19.0,196.0,1.0,1.0,195.0,Soda,77.0,7.0,9.0,both

In [37]:

orders_products_merged['_merge'].value_counts()

both          32406041
left_only       236409
right_only          11
Name: _merge, dtype: int64

In [39]:
#exporting data into pickle format
orders_products_merged.to_pickle(os.path.join(path,'02-Data','Prepared-Data','orders_products_combined.pkl'))